.heading-div {
    background-image: url('https://png.pngtree.com/element_origin_min_pic/17/01/05/a6b05ea1aae155b62bd6d949f716a3a1.jpg');
    padding: 2%;
    text-align: center;
}

.main-h2 {
    font-family: 'Sacramento', cursive;
    font-size: 100px;
    color: red;
}

.scrlspy-nbar {
    background-color: transparent;
}

.nlink {
    color: black;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    color: black;
    background-color: transparent;
}

.nlink:hover {
    color: orangered;
    background-color: transparent;
    outline: 1px solid orangered;
}

.card {
    border: none;
    background-color: gold;
    padding-bottom: 3% !important;
}

.card-image {
    margin: 0%;
    border: 3px solid gold !important;
    border-radius: 25px !important;
}

.card-img-overlay {
    position: absolute;
    top: 15%;
    right: 0;
    bottom: 0;
    left: 50%;
    padding: 1.25rem;
}

.card-title {
    font-size: 35px;
    font-family: 'Ubuntu Condensed', sans-serif;
}

.card-text {
    font-family: 'Ubuntu Condensed', sans-serif;
    font-size: 25px;
    color: 'red';
}

.overlay-img {
    width: 50%;
    border-radius: 25px;
    margin-left: 51%;
    margin-top: 2%;
    opacity: 0.9;
}

#briefing {
    margin: 0%;
    padding: 0%;
}

.car-data {
    padding-top: 3%;
    padding-bottom: 3%;
    background-color: white;
}

.car-div {
    margin: 0%;
    padding: 0%;
    text-align: center;
}

.car-div-col {
    padding: 0%;
}

.car-img-1 {
    height: 841px;
    border-radius: 15px;
    box-shadow: 1px 1px whitesmoke;
}

.car-div-col-2 {
    padding: 2%;
}

.car-h2 {
    font-size: 70px;
    font-family: 'Cookie', cursive;
    padding-top: 5%;
    padding-bottom: 5%;
    margin: 0%;
}

.car-h2-1 {
    text-align: center;
    font-size: 70px;
    font-family: 'Cookie', cursive;
    padding-left: 6% !important;
    padding-right: 6% !important;
    padding-top: 5%;
    padding-bottom: 5%;
    margin: 0%;
}

.car-p {
    font-size: 20px;
    font-style: italic;
    font-family: 'Charmonman', cursive;
    font-weight: bolder;
}

.car-div-col-img-1 {
    margin-right: auto;
    margin-top: 100px;
    margin-left: 50%;
    border-radius: 15px;
}

.love {
    color: red;
    font-style: italic;
    font-family: 'Charmonman', cursive;
    font-size: 25px;
    font-weight: bolder;
}

.blue {
    color: red;
}

.car-p-style-1 {
    font-family: 'Cookie', cursive;
    font-size: 50px;
    padding-bottom: 3%;
}

.car-div-col-img-2 {
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    margin-top: 10%;
}

.car-img-2 {
    height: 825px;
    margin-left: auto;
    border-radius: 15px;
}

.car-div-col-4 {
    background-color: white;
}

.car-img-3 {
    height: 841px;
    border-radius: 15px;
}

.car-div-col-img-3 {
    width: 50%;
    height: auto;
    border-radius: 15px;
    margin-left: 54%;
    margin-top: 4%;
}

.mbl-resp-view {
    display: none;
}

.venue-details {
    background-image: url('https://png.pngtree.com/element_origin_min_pic/17/01/05/a6b05ea1aae155b62bd6d949f716a3a1.jpg');
}

.place-n-date {
    margin: 0%;
    padding: 0%;
    padding-bottom: 3% !important;
    padding-top: 3% !important;
}

.google-map {
    width: 100%;
    padding: 2%;
    box-shadow: 1px 1px 1px whitesmoke;
}

.map-p {
    text-align: center;
    color: blue;
}

.reception-col,
.venue-col {
    margin: 0%;
    padding: 0%;
}

.date-h2,
.venue-h2,
.reception-h2 {
    padding: 0%;
    margin: 0%;
    text-align: center;
    font-weight: bolder;
    font-size: 2.5rem;
    font-family: 'Charmonman', cursive;
}

.venue-p,
.date-p,
.reception-p {
    text-align: center;
    font-family: 'Ubuntu Condensed', sans-serif;
    font-size: 25px;
}

.horizontal-rule {
    border-bottom: 2px solid red;
    width: 14%;
    margin-top: 0%;
}

.reception {
    margin: 0%;
    padding: 0%;
    padding-bottom: 3% !important;
    padding-top: 3% !important;
}

.reception-img {
    width: auto;
    height: 325px;
    border-radius: 15px;
}

.reception-img-1 {
    width: 378px;
    height: 325px;
    border-radius: 15px;
}

.reception-img,
.venue-img {
    border-radius: 15px;
}

.expecting-msg {
    background-color: whitesmoke;
    padding-top: 3% !important;
    padding-bottom: 3% !important;
}

.expecting-msg {
    background-image: url('https://bbk12e1-cdn.myschoolcdn.com/938/photo/orig_photo566058_5205037.png?w=1920');
    background-repeat: round;
    padding-top: 5%;
    padding-bottom: 5% !important;
    opacity: 0.8;
}

.thanks-p {
    padding-top: 3%;
    text-align: center;
    font-family: 'Charmonman', cursive;
    font-size: 20px;
    font-weight: bolder;
}

.bottom {
    text-align: center;
    font-size: 25px;
    font-family: 'Cookie', cursive;
}


/* ********* MOBILE RESPONSIVE ************* */

@media only screen and (min-width:375px) and (max-width: 667px) {
    .main-h2 {
        font-family: 'Sacramento', cursive;
        font-size: 50px;
        color: red;
    }
    .card-img-overlay {
        position: absolute;
        top: 6%;
        right: 0;
        bottom: 0;
        left: 50%;
        padding: 1.25rem;
    }
    .card-title {
        font-size: 15px;
        font-family: 'Ubuntu Condensed', sans-serif;
    }
    .card-text {
        font-family: 'Ubuntu Condensed', sans-serif;
        font-size: 10px;
    }
    .car-data {
        display: none;
    }
    .mbl-resp-view {
        display: block;
    }
    .car-img-1 {
        height: auto;
    }
    .car-div-col-img-1 {
        margin-right: auto;
        margin-left: auto;
        margin-top: 0%;
        border-radius: 15px;
        width: 100%;
    }
    .car-h2 {
        font-size: 25px;
        font-family: 'Cookie', cursive;
        padding-top: 5%;
        padding-bottom: 5%;
        margin: 0%;
    }
    .car-h2-1 {
        text-align: center;
        font-size: 30px;
        font-family: 'Cookie', cursive;
        padding-left: 10% !important;
        padding-right: 10% !important;
        padding-top: 5%;
        padding-bottom: 5%;
        margin: 0%;
    }
    .car-p {
        font-size: 15px;
        font-style: italic;
        font-family: 'Ubuntu', 'Charmonman', cursive;
        font-weight: bolder;
    }
    .love {
        color: red;
        font-style: italic;
        font-family: 'Charmonman', cursive;
        font-size: 15px;
        font-weight: bolder;
    }
    .car-p-style-1 {
        font-family: 'Cookie', cursive;
        font-size: 30px;
    }
    .car-div-col-img-2 {
        margin-left: auto;
        margin-right: auto;
        width: 75% !important;
        border-radius: 15px;
        margin-top: 10%;
        margin-bottom: 5%;
    }
    .car-img-2 {
        height: auto;
        width: 100%;
        border-radius: 15px !important;
        margin-bottom: 5%;
    }
    .car-img-3 {
        height: auto;
        width: 100%;
        border-radius: 15px;
        margin-bottom: 5%;
    }
    .car-div-col-img-3 {
        width: 100%;
        height: auto;
        border-radius: 15px;
        margin-left: 0% !important;
        margin-bottom: 5%;
    }
    .google-map {
        width: 100%;
        padding: 2%;
    }
    .map-p {
        text-align: center;
        color: red;
        margin-bottom: 10% !important;
    }
    .date-h2,
    .venue-h2,
    .reception-h2 {
        text-align: center;
        font-weight: bolder;
        font-size: 1.5rem;
        font-family: 'Charmonman', cursive;
    }
    .venue-p,
    .date-p,
    .reception-p {
        text-align: center;
        font-family: 'Ubuntu Condensed', sans-serif;
        font-size: 15px;
    }
    .reception-img {
        width: 100%;
        height: auto;
        border-radius: 15px;
    }
    .reception-img-1 {
        width: 100%;
        height: auto;
        border-radius: 15px;
    }
}

@media only screen and (min-width:360px) and (max-width: 640px) {
    .main-h2 {
        font-family: 'Sacramento', cursive;
        font-size: 50px;
        color: red;
    }
    .card-img-overlay {
        position: absolute;
        top: 6%;
        right: 0;
        bottom: 0;
        left: 50%;
        padding: 1.25rem;
    }
    .card-title {
        font-size: 15px;
        font-family: 'Ubuntu Condensed', sans-serif;
    }
    .card-text {
        font-family: 'Ubuntu Condensed', sans-serif;
        font-size: 10px;
    }
    .overlay-img {
        height: 50%;
        width: 37%;
        border-radius: 15px;
        margin-left: 74%;
        opacity: 0.9;
        margin-top: -1%;
    }
    .car-data {
        display: none;
    }
    .mbl-resp-view {
        display: block;
    }
    .car-img-1 {
        height: auto;
    }
    .car-div-col-img-1 {
        margin-right: auto;
        margin-left: auto;
        margin-top: 0%;
        border-radius: 15px;
        width: 100%;
    }
    .car-h2 {
        font-size: 25px;
        font-family: 'Cookie', cursive;
        padding-top: 5%;
        padding-bottom: 5%;
        margin: 0%;
    }
    .car-h2-1 {
        text-align: center;
        font-size: 30px;
        font-family: 'Cookie', cursive;
        padding-left: 10% !important;
        padding-right: 10% !important;
        padding-top: 5%;
        padding-bottom: 5%;
        margin: 0%;
    }
    .car-p {
        font-size: 15px;
        font-style: italic;
        font-family: 'Charmonman', cursive;
        font-weight: bolder;
    }
    .love {
        font-style: italic;
        font-family: 'Charmonman', cursive;
        font-size: 15px;
        font-weight: bolder;
        color: red;
    }
    .car-p-style-1 {
        font-family: 'Cookie', cursive;
        font-size: 30px;
    }
    .car-div-col-img-2 {
        margin-left: auto;
        margin-right: auto;
        width: 75% !important;
        border-radius: 15px;
        margin-top: 10%;
        margin-bottom: 5%;
    }
    .car-img-2 {
        height: auto;
        width: 100%;
        border-radius: 15px !important;
        margin-bottom: 5%;
    }
    .car-img-3 {
        height: auto;
        width: 100%;
        border-radius: 15px;
        margin-bottom: 5%;
    }
    .car-div-col-img-3 {
        width: 100%;
        height: auto;
        border-radius: 15px;
        margin-left: 0% !important;
        margin-bottom: 5%;
    }
    .google-map {
        width: 100%;
        padding: 2%;
    }
    .map-p {
        text-align: center;
        color: red;
        margin-bottom: 10% !important;
    }
    .date-h2,
    .venue-h2,
    .reception-h2 {
        text-align: center;
        font-weight: bolder;
        font-size: 1.5rem;
        font-family: 'Charmonman', cursive;
    }
    .venue-p,
    .date-p,
    .reception-p {
        text-align: center;
        font-family: 'Ubuntu Condensed', sans-serif;
        font-size: 15px;
    }
    .reception-img {
        width: 100%;
        height: auto;
        border-radius: 15px;
    }
    .reception-img-1 {
        width: 100%;
        height: auto;
        border-radius: 15px;
    }
    /* .thanks-p{
        padding-top: 3%;
        text-align: center;
        font-family: 'Charmonman', cursive;
        font-size: 20px;
        font-weight: bolder;
    } */
}

@media only screen and (min-width:480px) and (max-width: 853px) {
    .main-h2 {
        font-family: 'Sacramento', cursive;
        font-size: 50px;
        color: red;
    }
    .card-img-overlay {
        position: absolute;
        top: 6%;
        right: 0;
        bottom: 0;
        left: 50%;
        padding: 1.25rem;
    }
    .card-title {
        font-size: 15px;
        font-family: 'Ubuntu Condensed', sans-serif;
    }
    .card-text {
        font-family: 'Ubuntu Condensed', sans-serif;
        font-size: 10px;
    }
    .car-data {
        display: none;
    }
    .mbl-resp-view {
        display: block;
    }
    .car-img-1 {
        height: auto;
    }
    .car-div-col-img-1 {
        margin-right: auto;
        margin-left: auto;
        margin-top: 0%;
        border-radius: 15px;
        width: 100%;
    }
    .car-h2 {
        font-size: 25px;
        font-family: 'Cookie', cursive;
        padding-top: 5%;
        padding-bottom: 5%;
        margin: 0%;
    }
    .car-h2-1 {
        text-align: center;
        font-size: 30px;
        font-family: 'Cookie', cursive;
        padding-left: 10% !important;
        padding-right: 10% !important;
        padding-top: 5%;
        padding-bottom: 5%;
        margin: 0%;
    }
    .car-p {
        font-size: 15px;
        font-style: italic;
        font-family: 'Charmonman', cursive;
        font-weight: bolder;
    }
    .love {
        font-style: italic;
        font-family: 'Charmonman', cursive;
        font-size: 15px;
        font-weight: bolder;
        color: red;
    }
    .car-p-style-1 {
        font-family: 'Cookie', cursive;
        font-size: 30px;
    }
    .car-div-col-img-2 {
        margin-left: auto;
        margin-right: auto;
        width: 75% !important;
        border-radius: 15px;
        margin-top: 10%;
        margin-bottom: 5%;
    }
    .car-img-2 {
        height: auto;
        width: 100%;
        border-radius: 15px !important;
        margin-bottom: 5%;
    }
    .car-img-3 {
        height: auto;
        width: 100%;
        border-radius: 15px;
        margin-bottom: 5%;
    }
    .car-div-col-img-3 {
        width: 100%;
        height: auto;
        border-radius: 15px;
        margin-left: 0% !important;
        margin-bottom: 5%;
    }
    .google-map {
        width: 100%;
        padding: 2%;
    }
    .map-p {
        text-align: center;
        color: red;
        margin-bottom: 10% !important;
    }
    .date-h2,
    .venue-h2,
    .reception-h2 {
        text-align: center;
        font-weight: bolder;
        font-size: 1.5rem;
        font-family: 'Charmonman', cursive;
    }
    .venue-p,
    .date-p,
    .reception-p {
        text-align: center;
        font-family: 'Ubuntu Condensed', sans-serif;
        font-size: 15px;
    }
    .reception-img {
        width: 100%;
        height: auto;
        border-radius: 15px;
    }
    .reception-img-1 {
        width: 100%;
        height: auto;
        border-radius: 15px;
    }
    /* .thanks-p{
        padding-top: 3%;
        text-align: center;
        font-family: 'Charmonman', cursive;
        font-size: 20px;
        font-weight: bolder;
    } */
}